a {
  cursor: pointer;
}

.bg-light {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  text-align: right;
}

.navbar-light .navbar-toggler {
  border: none;
}

ul {
  padding: 0px;
  direction: ltr;
  font-size: 15px;
}
