
.main-menu-component {

  height: 100vh;
  background-image: linear-gradient(#1B5299,#1D1E2C,#F7EBEC);
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  cursor: pointer;
}

.bg-light {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  text-align: right;
}
