<div class="main-menu-component">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" style="cursor: default">ניהול הבנק שלך <i class="fas fa-piggy-bank"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item">
              <a class="nav-link" (click)="register()">הרשם <i class="fas fa-registered"></i></a>
            </li>
        <li class="nav-item">
          <a class="nav-link" (click)="login()"> התחבר <i class="fas fa-sign-in-alt"></i></a>
        </li>
      </ul>
    </div>
  </nav>
</div>
