
.main-menu-component {

  height: 100vh;
  background-image: url("/assets/images/fabian-blank-pElSkGRA2NU-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

a {
  cursor: pointer;
}

.bg-light {
  font-weight: bold;
}

.navbar-light .navbar-nav .nav-link {
  text-align: right;
}
