<div class="movies-managment-component">
  <div class="movies-form">
    <form class="post-movie-form" #postMovie="ngForm" (submit)="registerMovie(postMovie)">
      <mat-form-field class="example-full-width">
        <input matInput type="text" name="moviename" #moviename="ngModel" ngModel required>
        <mat-placeholder>Add movie</mat-placeholder>
        <mat-error *ngIf="moviename.invalid">Enter movie name invalid</mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput name="releaseDate" #releaseDate="ngModel" ngModel required>
        <mat-placeholder>Enter release date</mat-placeholder>
        <mat-error *ngIf="releaseDate.invalid">Invalid release date</mat-error>
      </mat-form-field>
      <button type="submit">Submit</button>
    </form>
  </div>
</div>
