.salary-management {
  background-color: #F5F1ED !important;
  height: 100%;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 30% !important;
  text-align: right;
  margin: auto;
}
.list-of-salary table {
  width: 100%;
  table-layout: fixed;
  direction: rtl;
}
table th {
  font-weight: bold !important;
  text-align: center;
}
.list-of-salary td {
  width: 10%;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.form-salary {
  margin: auto;
  display: block;
}

.salary-input {
  width: 100%;
  text-align: right;
}

.mat-raised-button {
  margin: auto;
  display: block;
}
