<div class="salary-management">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="list-of-salary">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort (matSortChange)="sortData($event)">
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> <i class="fab fa-cc-visa"></i> אפשרויות </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <i class="fas fa-trash" (click)="deleteSalary(element._id)"></i>
              <i class="fas fa-edit" (click)="editSalary(element);editoptionsable[i] = !editoptionsable[i]"
                *ngIf="!editoptionsable[i] && !updateAble"></i>
              <i class="fas fa-check-double" *ngIf="editEnable && editoptionsable[i]"
                (click)="updateSalary();editoptionsable[i] = !editoptionsable[i]"></i>
              <i class="fas fa-times" *ngIf="editEnable && editoptionsable[i]"
                (click)="cancelUpdate();editoptionsable[i] = !editoptionsable[i]"></i>
            </td>
          </ng-container>
          <ng-container matColumnDef="salary">
            <th mat-header-cell *matHeaderCellDef> <i class="fab fa-cc-visa"></i> משכורת </th>
            <td mat-cell *matCellDef="let element; let i = index">
              <div *ngIf="!editoptionsable[i]">{{element?.salary}}</div>
              <div *ngIf="editEnable && editoptionsable[i]" class="edit-section">
                <mat-form-field class="new-transaction">
                  <input matInput [(ngModel)]="salaryEditData.salary" value="{{salaryEditData?.salary}}">
                  <mat-placeholder class="placeholder">משכורת</mat-placeholder>
                  <mat-error>חובה להכניס משכורת</mat-error>
                </mat-form-field>
              </div>
            </td>
          </ng-container>
          <ng-container matColumnDef="monthOfSalary">
            <th mat-header-cell *matHeaderCellDef> <i class="fab fa-product-hunt"></i> משכורת עבור חודש </th>
            <td mat-cell *matCellDef="let element; let  i = index">
              <div *ngIf="!editoptionsable[i]">{{element?.monthOfSalary}}</div>
              <div *ngIf="editEnable && editoptionsable[i]" class="edit-section">
                <mat-form-field class="new-transaction">
                  <input matInput [(ngModel)]="salaryEditData.monthOfSalary" value="{{salaryEditData?.monthOfSalary}}">
                  <mat-placeholder class="placeholder">חובה לבחור חודש</mat-placeholder>
                  <mat-error>אנא בחר חודש</mat-error>
                </mat-form-field>
              </div>
            </td>
          </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
  <div class="form-salary" >
    <div class="row">
      <div class="col-sm-12 col-md-12 col-lg-12">
        <form name="salaryForm" (submit)="registerSalary(salaryForm)" #salaryForm="ngForm">
          <mat-form-field class="salary-input">
            <input matInput name="salary" type="number" ngModel #salary="ngModel" placeholder="משכורת" value=""
              required>
            <mat-error *ngIf="salary.invalid">חובה להכניס משכורת</mat-error>
          </mat-form-field>
          <button mat-raised-button color="link" type="submit" id="submit-button">אישור</button>
        </form>
      </div>
    </div>
  </div>
</div>
