html,
body {
  height: 100%;
  font-family: 'Varela Round', sans-serif;
  direction: rtl;
}

.salary-management {
  text-align: right;
  padding: 20px;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 50%;
  text-align: right;
  margin: auto;
}

.salary-management .mat-form-field {
  text-align: right !important;
  font-weight: bold;
  color: white;
}

table {
  border: none;
}

th.mat-header-cell:first-of-type {
  text-align: center !important;
}

table th {
  font-weight: bold !important;
  border: 0.5px solid #ddd;
}

.list-of-salary {
  margin: auto;
  display: grid;
}

.list-of-salary th {
  text-align: center !important;
}

.list-of-salary td {
  width: 10%;
  border: 0.5px solid #ddd;
  padding: 8px;
  text-align: center;
  word-break: break-all;
}

.mat-paginator-container,
.mat-elevation-z8 {
  font-weight: bold;
}

td:hover {
  background-image: linear-gradient(#AB3428, #f5eaeab7, #ffffff);
  color: black;
  font-weight: bold;
}

.form-salary {
  margin: auto;
  display: block;
}

#submit-button {
  margin: auto;
  display: block;
  font-weight: bold;
  margin-bottom: 2%;
}

.salary-input {
  width: 100%;
  text-align: right;
}

th.mat-header-cell {
  text-align: center !important;
}

.mat-raised-button {
  margin: auto;
  display: block;
}

i {
  cursor: pointer;
}

.placeholder {
  color: black !important;
  font-weight: bold;
  text-align: right;
  word-break: break-all;
}

.fa-edit:before,
.fa-check-double:before {
  padding: 10px;
}

.mat-paginator-container {
  direction: ltr;
}
h1 {
  text-align: center;
  font-size: 21px;
}

@media only screen and (max-width: 800px) {

  .mat-paginator-container {
    font-size: 10px;
  }

  .list-of-salary th {
    font-size: 10px;
  }

  .list-of-salary td {
    font-size: 8px;
  }
}
