html,
body {
  height: 100%;
}

.salary-management {
  text-align: right;
  padding: 20px;
}
.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 50%;
  text-align: right;
  margin: auto;
}

.list-of-salary table {
  width: 100%;
  table-layout: fixed;
  direction: rtl;
}

table th {
  font-weight: bold !important;
  text-align: center;
}

.form-salary {
  margin: auto;
  display: block;
}

#submit-button {
  margin: auto;
  display: block;
}

.mat-paginator-container,
.mat-elevation-z8 {
  background-image: linear-gradient(45deg,#72092ff0, #ab5e03fa, #72092ff0);
  color: white;
  font-weight: bold;
}

.salary-input {
  width: 100%;
  text-align: right;
}

th.mat-header-cell {
  text-align: center !important;
}

.mat-raised-button {
  margin: auto;
  display: block;
}

.list-of-salary th {
  text-align: center;
  color: white;
}

.list-of-salary td {
  width: 10%;
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  word-break: break-all;
  color: white;
}

i {
  cursor: pointer;
}

.placeholder {
  color: white !important;
  font-weight: bold;
  text-align: right;
  word-break: break-all;
}

.fa-edit:before,
.fa-check-double:before {
  padding: 10px;
}
