.home-component {
  direction: rtl;
}

.home-component .short-info {
  background-color: #3d518c;
  height: 40vh;
  padding: 50px;
}

.home-component .quick-information {
  background-color: #ebebeb;
  height: 60vh;
  padding: 10px;
}

.home-component .mat-card-title {
  font-weight: bold;
  text-align: center;
}

h1 {
  font-size: 54px;
}

.info-card {
  max-width: 400px;
  margin: auto;
  display: block;
  bottom: 42%;
  margin-bottom: 2%;

}

.info-card p {
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.short-info {
  color: white;
  text-align: center;
}

ul li p {
  font-size: 18px !important;
}

ul {
  list-style-type: none;
}

@media only screen and (max-width: 800px) {

  p {
    font-size: 14px !important;
  }
}
