<h2 mat-dialog-title>Register</h2>
<mat-dialog-content class="mat-typography">
  <form #register="ngForm" (submit)="registerUser(register)">
    <mat-form-field class="example-full-width">
      <input matInput name="username" #email="ngModel" ngModel type="email" placeholder="Enter your email" required>
      <mat-error *ngIf="email.invalid">Invalid email</mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput name="password" ngModel #password="ngModel" placeholder="Enter your password"
        [type]="hide ? 'password' : 'text'" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="password.invalid">Invalid password</mat-error>
    </mat-form-field>
    <mat-dialog-actions align="end">
      <button mat-button cdkFocusInitial type="submit">Submit register</button>
      <button mat-button mat-dialog-close>Cancel</button>

    </mat-dialog-actions>
    <div class="register-message" >
        <p>{{registerMessage}}</p>
    </div>
  </form>

</mat-dialog-content>
