
.example-full-width {
  width: 100%;
  text-align: right;
}

.mat-hint {
  text-align: right;
}

.mat-dialog-content {
  overflow-y: hidden;
}

.register-message {
  padding: 20px;
}

.mat-dialog-content {
  height: 250px;;
}
 h2 {
   text-align: center;
 }
