.mat-dialog-container {
  -webkit-transform: none;
  transform: none;
  margin: auto;
  height: auto;
  text-align: center;
  width: 29%;
  padding: 8px;
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif !important;
  background-image: linear-gradient(45deg, #600df9, #7c1bf1, #9e2be8);
}

.input-new-transaction .mat-form-field {
  font-family: 'Varela Round', sans-serif !important;
  width: 100%;
}

.input-new-transaction .mat-form-field-appearance-legacy .mat-form-field-wrapper {

      text-align: right;
      direction: rtl;
      margin: auto;
      width: 100%;
}

.mat-raised-button {

  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
  font-family: 'Varela Round', sans-serif !important;
}

@media only screen and (max-width: 800px) {

  .mat-dialog-container {
    -webkit-transform: none;
    transform: none;
    width: 90% !important;
    margin: auto;
    height: auto;
    text-align: center;
    padding: 8px;
    overflow-x: hidden;
  }
}
