.mat-dialog-container {
  -webkit-transform: none;
  transform: none;
  margin: auto;
  height: auto;
  text-align: center;
  width: 29%;
  padding: 8px;
  overflow-x: hidden;
  background-color: #3D518C;
}

.input-new-transaction .mat-form-field {
  font-family: 'Varela Round', sans-serif !important;
  width: 100%;
}

.input-new-transaction .mat-form-field-appearance-legacy .mat-form-field-wrapper {

  text-align: right;
  direction: rtl;
  margin: auto;
  width: 100%;
}

#new-transaction-button {
  margin-right: 3%;
}

.mat-raised-button {

  cursor: pointer;
  font-weight: bold;
  cursor: pointer;
}

.create-new-card .example-full-width {
  text-align: right;
}
@media only screen and (max-width: 800px) {

  .mat-dialog-container {
    -webkit-transform: none;
    transform: none;
    width: 90% !important;
    margin: auto;
    height: auto;
    text-align: center;
    padding: 8px;
    overflow-x: hidden;
  }
}
