th.mat-header-cell {
  text-align: center !important;
  padding: 40px;
}

.mat-sort-header-container {
  justify-content: center;

}

.fa-times:before {
  margin-right: 16px;
}

.bank-component .purchase-list {
  text-align: right;
  padding: 20px;
}

.current-status {
  color: white;
  font-size: 40px;

}

.mat-select-value {
  color: white !important;
}

.bank-component .purchase-list .search-section .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 30%;
}

.list-of-transactions table {
  width: 100%;
  table-layout: fixed;
  direction: rtl;
}

table th {

  font-weight: bold !important;
}

.list-of-transactions th {
  text-align: center !important;
  color: white;
}

.list-of-transactions td {
  width: 10%;
  border: 0.5px solid #ddd;
  padding: 8px;
  text-align: center;
  word-break: break-all;
  color: white;
}


.input-new-transaction table {
  width: 100%;
  table-layout: fixed;
  direction: rtl;
}

.input-new-transaction td {
  width: 12.5%;
}

.fa-plus:before {
  font-size: 35px;
  color: white;
}


.mat-paginator-container,
.mat-elevation-z8 {
  background-image: linear-gradient(45deg, #2d2c31, #7925df, #490972);
  color: white;
  font-weight: bold;
}


td:hover {
  background-color: rgba(204, 198, 212, 0.52);
  color: black;
  font-weight: bold;
}

.mat-sort-header-arrow,
[dir=rtl] .mat-sort-header-position-before .mat-sort-header-arrow {
  color: white;
}



.mat-option {

  text-align: right !important;
  font-weight: 500;
  font-size: 12px;

}

#search {
  text-align: right;
  direction: rtl;
  width: 100%;

}


.input-new-transaction {
  direction: rtl;
  font-size: 13px;
  display: flex;
}

.placeholder {
  color: white !important;
  font-weight: bold;
  text-align: right;
  word-break: break-all;
}

.input-new-transaction .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 60%;
  text-align: right;
  direction: rtl;

}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 70%;
  text-align: right;
  font-weight: bold;
}

.edit-section .mat-form-field-appearance-legacy .mat-form-field-wrapper {

  width: 70% !important;
}

.fa-edit:before {

  margin-right: 15px;
}

#new-transaction-button {
  margin-top: 5%;
}

.fa-check-double:before {

  margin-right: 15px;
}


.edit-section .placeholder {
  font-weight: 100;
}

h1 {
  text-align: center;
  font-size: 21px;
}

h3 {
  font-size: 15px;
  text-align: right;
}

.mat-select-panel .mat-optgroup-label,
.mat-select-panel .mat-option {
  text-align: right;
  font-weight: 500;
}

.mat-option-text {
  font-size: 12px;
}


i {
  cursor: pointer;
}


.bank-component .statistic-section {
  overflow-x: hidden;
}

.mat-tab-group {

  direction: rtl;
}

.search-results {
  text-align: right;
  color: black;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {

  .mat-paginator-container {
    font-size: 10px;
  }

  .bank-component .purchase-list {

    padding: 0px !important;
  }

  .list-of-transactions table {

    width: 500px !important;
  }

  .list-of-transactions {
    overflow-x: scroll;
  }

  .list-of-transactions th,
  td {
    font-size: 10px;
  }

  td.mat-cell,
  td.mat-footer-cell,
  th.mat-header-cell {
    font-size: 10px;

  }

  .fa-plus:before {
    font-size: 25px;
    color: white;
  }
}
