body {
  padding: 30px;
  font-family: 'Varela Round', sans-serif;
}


table {
  width: 100%;
  direction: rtl;
}

#search {
  text-align: right;
  direction: rtl;
  padding: 0px;
  width: 100%;
}
.input-new-transcation td {
  width: 12.5%;
  padding: 3px;
}
td,
th {
  width: 10%;
  text-align: right !important;
  font-family: 'Varela Round', sans-serif;
}

td.mat-cell:first-of-type,
td.mat-footer-cell:first-of-type,
th.mat-header-cell:first-of-type {
  padding: 10px;
}

.input-new-transcation {
  direction: rtl;
  font-size: 13px;
  background-image: linear-gradient(#ffffff, #007ea7);
  display: flex;
}

.placeholder {
  color: black !important;
  font-weight: bold;
}

.input-new-transcation
  .mat-form-field-appearance-legacy
  .mat-form-field-wrapper {
  width: 60%;
  text-align: right;
  direction: rtl;
  font-family: 'Varela Round', sans-serif;
}

.mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 100%;
  text-align: right;
}

#new-transcation-button {
  margin-top: 5%;
}

.money-managment-area {

  display: inline-flex;
  margin: auto;
  display: block;
}

h1 {

  margin-top: 3%;
  text-align: center;
  font-size:21px;
}
h3 {

  font-size: 15px;
  text-align: right;
}
