<div class="bank-component">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="purchase-list">
        <div class="search-section">
          <mat-form-field id="search">
            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="חיפוש חופשי">
          </mat-form-field>
        </div>
        <div class="list-of-transactions">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
            (matSortChange)="sortData($event)">
            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef> <i class="fab fa-cc-visa"></i> אפשרויות </th>
              <td mat-cell *matCellDef="let element; let i = index"> <i class="fas fa-trash"
                  (click)="deleteTransaction(element._id, element)"></i>
                <i class="fas fa-edit" (click)="editTransaction(element);editoptionsable[i] = !editoptionsable[i]"
                  *ngIf="!editoptionsable[i] && !updateAble"></i>
                <i class="fas fa-check-double" *ngIf="editEnable && editoptionsable[i]"
                  (click)="updateTransaction();editoptionsable[i] = !editoptionsable[i]"></i>
              </td>
            </ng-container>
            <ng-container matColumnDef="cardName">
              <th mat-header-cell *matHeaderCellDef> <i class="fab fa-cc-visa"></i> שם הכרטיס </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <div *ngIf="!editoptionsable[i]">{{element.cardName}}</div>
                <div *ngIf="editEnable && editoptionsable[i]" class="edit-section">
                  <mat-form-field class="new-transaction">
                    <mat-select [(ngModel)]="bankEditTransaction.cardName" value="{{bankEditTransaction.cardName}}">
                      <mat-option *ngFor="let card of cards" [value]="card.value">
                        {{card.value}}
                      </mat-option>
                    </mat-select>
                    <mat-placeholder class="placeholder">{{bankEditTransaction.cardName}}</mat-placeholder>
                    <mat-error>חובה למלא שם כרטיס</mat-error>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> <i class="fab fa-product-hunt"></i> בית העסק </th>
              <td mat-cell *matCellDef="let element; let  i = index">
                <div *ngIf="!editoptionsable[i]">{{element.name}}</div>
                <div *ngIf="editEnable && editoptionsable[i]">
                  <mat-form-field class="new-transaction edit-section" *ngIf="editEnable">
                    <input type="text" aria-label="Number" matInput [(ngModel)]="bankEditTransaction.name"
                      [matAutocomplete]="auto" value="{{bankEditTransaction.name}}">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-placeholder class="placeholder">בית העסק</mat-placeholder>
                    <mat-error>חובה למלא שם מוצר</mat-error>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <!-- Type of product  Column -->
            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef><i class="fas fa-sitemap"></i> קטגוריה </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <div *ngIf="!editoptionsable[i]">{{element.typeProduct}}</div>
                <div *ngIf="editEnable && editoptionsable[i]">
                  <mat-form-field class="new-transaction">
                    <mat-select [(ngModel)]="bankEditTransaction.typeProduct" value="bankEditTransaction.typeProduct">
                      <mat-option *ngFor="let category of categories" [value]="category.value">
                        {{category.value}}
                      </mat-option>
                    </mat-select>
                    <mat-placeholder class="placeholder">קטגוריה</mat-placeholder>
                    <mat-error>חובה למלא את סוג המוצר </mat-error>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <!-- Total price Column -->
            <ng-container matColumnDef="price">
              <th mat-sort-header="price" mat-header-cell *matHeaderCellDef> <i class="fas fa-shekel-sign"></i> מחיר
                כללי
              </th>
              <td mat-cell *matCellDef="let element; let  i = index">
                <div *ngIf="!editoptionsable[i]">{{element.price}}</div>
                <div *ngIf="editEnable && editoptionsable[i]">
                  <mat-form-field class="new-transaction">
                    <input matInput type="number" [(ngModel)]="bankEditTransaction.price"
                      value="bankEditTransaction.price" required>
                    <mat-placeholder class="placeholder">מחיר העסקה</mat-placeholder>
                    <mat-error *ngIf="!bankEditTransaction.price">חובה למלא את המחיר הכללי </mat-error>
                  </mat-form-field>
                </div>
              </td>
            </ng-container>
            <!-- Payments Column -->
            <ng-container matColumnDef="numberofpayments">
              <th mat-sort-header="numberofpayments" mat-header-cell *matHeaderCellDef> <i
                  class="fas fa-shopping-bag"></i>
                מספר
                תשלומים </th>
              <td mat-cell *matCellDef="let element; let i = index">
                <div *ngIf="!editoptionsable[i]">{{element.numberofpayments}}</div>
                <div *ngIf="editEnable && editoptionsable[i]">
                  <mat-form-field class="new-transaction">
              <td><input matInput type="number" [(ngModel)]="bankEditTransaction.numberofpayments"
                  (input)="calculateEachMonthEdit()" value="bankEditTransaction.numberOfPayments">
              </td>
              <mat-placeholder class="placeholder">מספר תשלומים</mat-placeholder>
              </mat-form-field>
        </div>
        </td>
        </ng-container>
        <ng-container matColumnDef="eachMonth">
          <th mat-sort-header="eachMonth" mat-header-cell *matHeaderCellDef> <i class="fas fa-cart-arrow-down"></i>
            תשלום
            חודשי </th>
          <td mat-cell *matCellDef="let element"> <i class="fas fa-shekel-sign"></i> {{element.eachMonth}} </td>
        </ng-container>
        <ng-container matColumnDef="leftPayments">
          <th mat-sort-header="leftPayments" mat-header-cell *matHeaderCellDef><i class="fas fa-trophy"></i> תשלומים
            שנשארו
          </th>
          <td mat-cell *matCellDef="let element"> {{element.leftPayments}} </td>
        </ng-container>
        <ng-container matColumnDef="purchaseDate">
          <th mat-sort-header="purchaseDate" mat-header-cell *matHeaderCellDef><i class="far fa-calendar-check"></i>
            תאריך
            קניה</th>
          <td mat-cell *matCellDef="let element"> {{element.purchaseDate}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
      </div>
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      <ng-container>
        <div (click)="registerNewTransactionDialog()">add</div>
      </ng-container>
    </div>
  </div>
</div>

<div class="statistic-section">
  <h1>ניתוח מצב פיננסי</h1>
  <div>
    <div class="row">
      <div class="col-sm-12 col-md-4 col-lg-6">
        <canvas id="chartDiff">{{chartDiff}}</canvas>
      </div>
    </div>
    <div class="money-management-area">
      <h3 *ngIf="totalExpenses">הוצאות: <i class="fas fa-shekel-sign"></i> {{totalExpenses}}</h3>
      <h3 *ngIf="numberOfPayments">מספר תשלומים כללי: <i class="fas fa-money-check-alt"></i> {{numberOfPayments}}</h3>
      <h3 *ngIf="monthExpenses"> הוצאות קבועות כל חודש: <i class="fas fa-shekel-sign"></i> {{monthExpenses}} </h3>
    </div>
  </div>
</div>
