<div class="bank-component">
  <div class="row">
    <div class="col-sm-12">
      <div class="search-section">
        <mat-form-field id="search">
          <input matInput (keyup)="applyFilter($event.target.value)">
          <mat-placeholder class="placeholder">חיפוש חופשי   <i class="fas fa-search-dollar" style="position: absolute; left: 0"></i></mat-placeholder>

        </mat-form-field>
      </div>
    </div>
  </div>
  <h1 class="current-status">עו"ש: {{currentCash}} <i class="fas fa-shekel-sign"></i> </h1>
  <section class="transaction-list">
    <div class="row">
      <div class="col-sm-12">
        <mat-accordion displayMode="flat" multi class="mat-table">
          <section matSort class="mat-elevation-z2 mat-header-row">
            <span class="mat-header-cell" mat-sort-header="options">אפשרויות</span>
            <span class="mat-header-cell" mat-sort-header="cardName">כרטיס</span>
            <span class="mat-header-cell" mat-sort-header="typeProduct">בית העסק</span>
            <span class="mat-header-cell" mat-sort-header="leftPayments">תשלומים</span>
            <span class="mat-header-cell" mat-sort-header="purchaseDate">תאריך רכישה</span>
          </section>
          <mat-expansion-panel *ngFor="let item of displayedRows$ | async; let i = index">
            <mat-expansion-panel-header class="mat-row">
              <span class="mat-cell"> <i class="fas fa-trash" *ngIf="!editoptionsable[i]"
                  (click)="deleteTransaction(item._id)"></i>
                <i class="fas fa-edit" (click)="editTransaction(item);editoptionsable[i] = !editoptionsable[i]"
                  *ngIf="!editoptionsable[i] && !updateAble"></i>
                <i class="fas fa-check-double" *ngIf="editEnable && editoptionsable[i]"
                  (click)="updateTransaction();editoptionsable[i] = !editoptionsable[i]"></i>
                <i class="fas fa-times" *ngIf="editEnable && editoptionsable[i]"
                  (click)="cancelUpdate();editoptionsable[i] = !editoptionsable[i]"></i>
                </span>
              <span class="mat-cell">{{item?.cardName}}</span>
              <span class="mat-cell">{{item?.typeProduct}}</span>
              <span class="mat-cell">{{item?.numberofpayments}} \ {{item?.leftPayments}}<br><i
                  class="fas fa-shekel-sign"></i> {{item?.eachMonth}} </span>
              <span class="mat-cell">{{item?.purchaseDate}}</span>
            </mat-expansion-panel-header>
            <div *ngIf="!editoptionsable[i]">
              <ul>
                <li>שם הכרטיס: {{item?.cardName}}</li>
                <li>בית העסק: {{item?.name}}</li>
                <li>קטגוריה: {{item?.typeProduct}}</li>
                <li> סה"כ לתשלום: {{item?.price}}</li>
                <li>חודש הרכישה: {{item?.monthPurchase}}</li>
                <li>שנת הרכישה: {{item?.yearOfTransaction}}</li>
                <li>תאריך לחיוב: {{item?.billingDate}}</li>
              </ul>
            </div>
            <section *ngIf="editoptionsable[i]" class="edit-section">
              <h1>עריכת עסקה</h1>
              <div class="row">
                <div class="col-sm-12">
                  <mat-form-field class="new-transaction">
                    <mat-select [(ngModel)]="bankEditTransaction.cardName" value="{{bankEditTransaction.cardName}}">
                      <mat-option *ngFor="let card of cards" [value]="card?.cardName">
                        {{card?.cardName}}
                      </mat-option>
                    </mat-select>
                    <mat-placeholder class="placeholder" *ngIf="bankEditTransaction.cardName.length > 0">
                      {{bankEditTransaction.cardName}}</mat-placeholder>
                    <mat-placeholder class="placeholder" *ngIf="bankEditTransaction.cardName.length <= 0">שם הכרטיס
                    </mat-placeholder>
                    <mat-error>חובה למלא שם כרטיס</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-12">
                  <mat-form-field class="new-transaction edit-section" *ngIf="editEnable">
                    <input type="text" aria-label="Number" matInput [(ngModel)]="bankEditTransaction.name"
                      [matAutocomplete]="auto" value="{{bankEditTransaction.name}}">
                    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                    <mat-placeholder class="placeholder">בית העסק</mat-placeholder>
                    <mat-error>חובה למלא שם מוצר</mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-12">
                  <mat-form-field class="new-transaction">
                    <mat-select [(ngModel)]="bankEditTransaction.typeProduct" value="bankEditTransaction.typeProduct">
                      <mat-option *ngFor="let category of categories" [value]="category.typeProduct">
                        {{category?.typeProduct}}
                      </mat-option>
                    </mat-select>
                    <mat-placeholder class="placeholder">קטגוריה</mat-placeholder>
                    <mat-error>חובה למלא את סוג המוצר </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-12">
                  <mat-form-field class="new-transaction">
                    <input matInput type="number" [(ngModel)]="bankEditTransaction.price"
                      value="bankEditTransaction.price" required>
                    <mat-placeholder class="placeholder">מחיר העסקה</mat-placeholder>
                    <mat-error *ngIf="!bankEditTransaction.price">חובה למלא את המחיר הכללי </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-sm-12">
                  <mat-form-field class="new-transaction"><input matInput type="number"
                      [(ngModel)]="bankEditTransaction.numberofpayments" value="bankEditTransaction.numberOfPayments">
                    <mat-placeholder class="placeholder"> מספר תשלומים ששולמו</mat-placeholder>
                  </mat-form-field>
                </div>
                <div class="col-sm-12">
                    <mat-form-field class="new-transaction"><input matInput type="number"
                        [(ngModel)]="bankEditTransaction.eachMonth" value="bankEditTransaction.eachMonth" disabled>
                      <mat-placeholder class="placeholder"> תשלום חודשי</mat-placeholder>
                    </mat-form-field>
                  </div>
                  <div class="col-sm-12">
                    <mat-form-field class="new-transaction"><input matInput type="number"
                        [(ngModel)]="bankEditTransaction.leftPayments" value="bankEditTransaction.leftPayments" disabled>
                      <mat-placeholder class="placeholder"> מספר תשלומים שנשארו</mat-placeholder>
                    </mat-form-field>
                  </div>
                <div class="col-sm-12">
                  <mat-form-field class="new-transaction">
                    <input (ngModelChange)="calculateEachMonthEdit($event)" matInput [matDatepicker]="picker"
                      [(ngModel)]="bankEditTransaction.purchaseDate" value="bankEditTransaction.purchaseDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker" style="color: white"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-placeholder class="placeholder" *ngIf="bankEditTransaction.purchaseDate.length <= 0"> בחר תאריך
                    </mat-placeholder>
                    <mat-placeholder class="placeholder" *ngIf="bankEditTransaction.purchaseDate.length > 0">
                      {{bankEditTransaction?.purchaseDate}}</mat-placeholder>
                  </mat-form-field>
                </div>
              </div>
            </section>
          </mat-expansion-panel>
        </mat-accordion>
        <mat-paginator #paginator [length]="totalRows$ | async" [pageIndex]="0" [pageSize]="10"
          [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
      </div>
    </div>
  </section>
  <i class="fas fa-plus" (click)="registerNewTransactionDialog()"></i>
</div>

