.statistic-section {
  padding: 100px;
  margin: auto;
  display: inherit;
}

.mat-divider {
  width: 50%;
  margin: auto;
}


h6 {
  font-size: 1rem;
  text-align: center;
  color: white;
  font-weight: bold;
}

h1 {
  text-align: center;
  font-size: 25px;
  font-weight: bold
}

@media only screen and (max-width: 800px) {
  #eachMonthExpenses {
    padding: 0px;
    overflow-x: scroll;
  }

}
