html,
body {
  height: 100%;
  font-family: 'Varela Round', sans-serif !important;
  overflow-x: hidden;
  background-color: #3D518C !important;
  height: 100%;
}

ul {
  font-family: 'Varela Round', sans-serif !important;
}

.mat-form-field-appearance-legacy .mat-form-field-infix {
  color: black;
}

body {
  margin: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.mat-sort-header-container {
  justify-content: center;
  font-weight: bold;
  font-size: 16px !important;
}

.mat-accordion .mat-header-row {
  padding-left: 1.5rem;
  padding-right: 2rem;
  border-bottom: none;
  direction: rtl;
}

.mat-expansion-panel-header.mat-row {
  border-bottom: none;
  direction: rtl;
  text-align: center;
}

.mat-table {
  display: block;
}

.mat-header-row {
  min-height: 56px;
}

.mat-row {
  min-height: 48px;
}

.mat-row,
.mat-header-row {
  display: flex;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  align-items: center;
  padding: 0 24px;
  box-sizing: border-box;
  font-weight: bold;
}

.mat-row,
.mat-header-row::after {
  display: inline-block;
  min-height: inherit;
  content: '';
}

.mat-cell,
.mat-header-cell {
  flex: 1;
  overflow: hidden;
  word-wrap: break-word;
  font-size: 13px;
}

.new-transaction {
  width: 100%;
}

.edit-section .mat-form-field {
  display: flex;
}

ul {
  direction: rtl;
  font-size: 13px;
}

.mat-expansion-panel-body ul {
  text-align: right;
}

.edit-section .mat-expansion-panel-body {
  margin: auto;
  display: block;
  float: right;
}

.cdk-text-field-autofill-monitored:not(:-webkit-autofill) {
  color: black;
}

.mat-form-field-appearance-legacy .mat-form-field-prefix .mat-icon-button,
.mat-form-field-appearance-legacy .mat-form-field-suffix .mat-icon-button {
  color: black;
}

.placeholder {
  color: white !important;
  font-weight: bold;
  text-align: right;
  word-break: break-all;
}

.search-section .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 25%;
  margin: auto;
  display: block;
}

@media only screen and (max-width: 800px) {

  .search-section .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    width: 100%;
  }
  .fa-plus:before {
    font-size: 25px;
  }

  .bank-component .purchase-list .search-section .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    width: 100%;
  }

  .mat-sort-header-container {
    justify-content: center;
    font-weight: bold;
    font-size: 13px !important;
  }

  .mat-cell,
  .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    font-size: 10px;
  }

  ul {
    direction: rtl;
    font-size: 10px;
  }

  .bank-component .mat-form-field {
    width: 100%;
  }

  .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    width: 100%;
    text-align: right;
    font-weight: bold;
  }

}
