.mobile-menu{
  padding: 10px !important;
}
::ng-deep .mat-tab-label {
  color: white;
  font-weight: bold;
}

::ng-deep .mat-tab-labels {
  direction: rtl;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  white-space: pre !important;
}

.bg-light {
  background-color: transparent !important;
  direction: rtl;
}

.navbar-light .navbar-toggler {
  border: none;
  color: white;
}

.mr-auto,
.mx-auto {

  text-align: right;
  padding: 0px;
}

.navbar-nav .nav-link {
  color: white !important;
  font-size: 16px;
}
::ng-deep .mat-tab-group.mat-primary .mat-ink-bar,
.mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: white !important;
}
