<mat-tab-group mat-align-tabs="center" (selectedTabChange)="changedTab($event)" [selectedIndex]="selectedTab">
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-home"></i> בית
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-shopping-cart"></i> חיוב קרוב
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-folder-open"></i> עסקאות בארכיון
    </ng-template>

  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-suitcase"></i> הכנסות
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-chart-line"></i> סטטיסטיקה
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <i class="fas fa-sign-out-alt"></i> התנתק
    </ng-template>
  </mat-tab>
</mat-tab-group>
