::ng-deep .mat-tab-label {
  color: white;
  font-weight: bold;
}

::ng-deep .mat-tab-labels {
  direction: rtl;
}

::ng-deep .mat-tab-label .mat-tab-label-content {
  white-space: pre !important;
}

.bg-light {
  background-color: #ab3428b5 !important;
  direction: rtl;
}

.navbar-light .navbar-toggler {
  border: none;
  color: white;
}

.mr-auto,
.mx-auto {

  text-align: right;
  padding: 0px;
}

.navbar-nav .nav-link {
  color: white !important;
}
