<ng4-loading-spinner [threshold]="isLoading" [timeout]="9999999" [loadingText]="'Please wait...'" [zIndex]="9999">
</ng4-loading-spinner>

<div class="payment-component">
    <div class="row">
      <div class="col-sm-12">
        <div class="search-section">
          <mat-form-field id="search">
            <input matInput (keyup)="applyFilter($event.target.value)">
            <mat-placeholder class="placeholder">חיפוש חופשי   <i class="fas fa-search-dollar" style="position: absolute; left: 0"></i></mat-placeholder>
          </mat-form-field>
        </div>
      </div>
    </div>
    <section class="transaction-list">
      <div class="row">
        <div class="col-sm-12">
          <mat-accordion displayMode="flat" multi class="mat-table">
            <section matSort class="mat-elevation-z2 mat-header-row">
              <span class="mat-header-cell" mat-sort-header="options">מס' מזהה</span>
              <span class="mat-header-cell" mat-sort-header="cardName">כרטיס</span>
              <span class="mat-header-cell" mat-sort-header="typeProduct">בית העסק</span>
              <span class="mat-header-cell" mat-sort-header="leftPayments">תשלומים</span>
              <span class="mat-header-cell" mat-sort-header="purchaseDate">תאריך רכישה</span>
            </section>
            <mat-expansion-panel *ngFor="let item of displayedRows$ | async; let i = index">
              <mat-expansion-panel-header class="mat-row">
                  <span class="mat-cell">{{i}}</span>
                <span class="mat-cell">{{item?.cardName}}</span>
                <span class="mat-cell">{{item?.typeProduct}}</span>
                <span class="mat-cell">{{item?.numberofpayments}} \ {{item?.leftPayments}}<br><i
                    class="fas fa-shekel-sign"></i> {{item?.eachMonth}} </span>
                <span class="mat-cell">{{item?.purchaseDate}}</span>
              </mat-expansion-panel-header>
              <div >
                <ul>
                  <li>שם הכרטיס: {{item?.cardName}}</li>
                  <li>בית העסק: {{item?.name}}</li>
                  <li>קטגוריה: {{item?.typeProduct}}</li>
                  <li> סה"כ לתשלום: {{item?.price}}</li>
                  <li>חודש הרכישה: {{item?.monthPurchase}}</li>
                  <li>שנת הרכישה: {{item?.yearOfTransaction}}</li>
                  <li>תאריך לחיוב: {{item?.billingDate}}</li>
                </ul>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <mat-paginator #paginator [length]="totalRows$ | async" [pageIndex]="0" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
        </div>
      </div>
    </section>
  </div>


