.cards-management-component {
  text-align: right;
}

.cards-management-component .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 100% !important;
  text-align: right;
  font-weight: bold;
}


.edit-section .mat-form-field-appearance-legacy .mat-form-field-wrapper {

  width: 70% !important;
}

h1 {
  text-align: center;
  font-size: 21px;
}

.cards-management-component .edit-section .mat-form-field {
  text-align: right !important;
  font-weight: bold;
  color: white;
  width: 50%;
  float: right;
}

.cards-management-component .full-width {
  text-align: center;
  width: 100%;
}

.cards-management-component .card-form {
  margin: auto;
  display: block;
  text-align: center;
  padding: 20px;
  width: 50%;
  margin-top: 3%;
}

::ng-deep .cards-management-component .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 30%;
  margin: auto;
}

.card-form {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

i {
  cursor: pointer;
}

.fa-edit:before,
.fa-check-double:before {
  padding: 10px;
}


@media only screen and (max-width: 800px) {

  .mat-sort-header-container {
    justify-content: center;
    font-weight: bold;
    font-size: 13px !important;
  }
  .cards-management-component .mat-form-field {
    width: 100%;
  }

  .cards-management-component .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    width: 100%;
    text-align: right;
    font-weight: bold;
  }

}
