.cards-management-component {
  direction: rtl;
}

.cards-management-component table {
  width: 100%;
  background-image: linear-gradient(45deg,#72092ff0, #ab5e03fa, #72092ff0);
}

.cards-management-component td,
th {
  text-align: center !important;
  color: white;
}

.cards-management-component .full-width {
  text-align: center;
  width: 100%;
}

.cards-management-component .card-form {
  margin: auto;
  display: block;
  text-align: center;
  padding: 20px;
}

::ng-deep .cards-management-component .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 30%;
  margin: auto;
}

.card-form {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 800px) {
  ::ng-deep .cards-management-component .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    width: 100%;
    margin: auto;
  }
}
