
.cards-management-component {
  direction: rtl;
  padding: 20px;
  text-align: right;
}

.cards-management-component table {
  width: 100%;
}
.cards-management-component .mat-form-field {
  text-align: right !important;
  font-weight: bold;
  color: white;
}
table {
  border: none;
}

th.mat-header-cell:first-of-type {
  text-align: center !important;
}

.mat-paginator-container,
.mat-elevation-z8 {
  font-weight: bold;
}

table th {
  font-weight: bold !important;
  border: 0.5px solid #ddd;
}

.cards-management-component th {
  text-align: center !important;
}

.cards-management-component td {
  width: 10%;
  border: 0.5px solid #ddd;
  padding: 8px;
  text-align: center;
  word-break: break-all;
}

td:hover {
  background-image: linear-gradient(#AB3428, #f5eaeab7, #ffffff);
  color: black;
  font-weight: bold;
}

.cards-management-component .full-width {
  text-align: center;
  width: 100%;
}
.cards-management-component .card-form {
  margin: auto;
  display: block;
  text-align: center;
  padding: 20px;
  width: 50%;
  margin-top: 3%;
}
::ng-deep .cards-management-component .mat-form-field-appearance-legacy .mat-form-field-wrapper {
  width: 30%;
  margin: auto;
}
.card-form {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

i {
  cursor: pointer;
}

.fa-edit:before,
.fa-check-double:before {
  padding: 10px;
}

.edit-card {
  width: 100%;
  text-align: right;
}

@media only screen and (max-width: 800px) {
  ::ng-deep .cards-management-component .mat-form-field-appearance-legacy .mat-form-field-wrapper {
    width: 100%;
    margin: auto;
  }

  .cards-management-component .card-form {
    margin: auto;
    display: block;
    text-align: center;
    padding: 20px;
    width: 100%;
    margin-top: 3%;
  }

  .cards-management-component td {
    font-size: 11px;
  }
}
