<ng4-loading-spinner *ngIf="isLoading$ | async" [timeout]="99999" [loadingText]="'Please wait...'" [zIndex]="9999">
</ng4-loading-spinner>
<div class="login-component">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <form class="login-form" #loginForm="ngForm" (submit)="Login(loginForm)">
        <mat-form-field class="full-width">
          <input matInput type="text" name="username" #username="ngModel" ngModel>
          <mat-placeholder class="login-details-placeholder">Enter your username</mat-placeholder>
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput name="password" #password="ngModel" ngModel [type]="hide ? 'password' : 'text'">
          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          <mat-placeholder class="login-details-placeholder">Enter your password</mat-placeholder>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Login</button>
      </form>
    </div>
  </div>
</div>
